.THIS.full_screen{
  height: 100% !important;
  
}
.THIS.slds-spinner_container {
   z-index: 10000;
   position: fixed;
 }
 .THIS .select-auto-width > .slds-form-element__control > .slds-select_container {
  display:inline-flex !important;
}